<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.finalterm">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registeractivity"/>
        <activity android:name=".teacheractivity"/>
        <activity android:name=".teacherclassactivity"/>
        <activity android:name=".addclassactivity"/>
        <activity android:name=".resultactivity">
        </activity>
        <activity android:name=".studentclassactivity"/>
        <activity android:name=".studentgradeactivity"/>
        <activity android:name=".studentactivity"/>
        <activity android:name=".administratoractivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>